html, body{
    margin:0;
    padding:0;
	background: #dadada;
}
@media (max-width: 1045px) {
	.photos{
		grid-template-columns: auto auto !important;
	}
}
@media (max-width: 710px) {
	.photos{
		grid-template-columns: auto !important;
	}
}
.photos{
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
    padding: 70px 0 45px 0;
}
img{
	padding: 10px;
}
.photo_box{
    width: 100%;
    background: #fff;
    transition: 100ms ease-in-out;
}
.photo_box:hover{
    width: 100%;
    background: #7b7b7b70;
    cursor: pointer;
}
.header{
	display: flex;
    width: 100%;
    height: 40px;
    background: #fff;
    position: fixed;
    border-bottom: 1px solid #cacaca;
    align-items: center;
    justify-content: center;	
	z-index: 1;
}
.logo{
    font-family: calibri, serif;
    font-size: 19px;
    font-weight: lighter;
}
 #overlay {
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: 109%;
    text-align: center;
    background: #0000009c;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
 }
.pv_close_btn {
    background: url(../img/layer_controls.png) -3px 0 no-repeat;
    width: 16px;
    height: 16px;
    position: fixed;
    top: 12px;
    right: 12px;
    opacity: 0.5;
    -o-transition: opacity 100ms linear;
    transition: opacity 100ms linear;
    cursor: pointer;
}
.pv_close_btn:hover{
    opacity: 1;
}
.lds-roller {
  width: 64px;
  height: 64px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading{
	width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    align-items: center;
    z-index: 5;
}
.main_photo{
	background: #fff;
    border-radius: 4px;
    margin: 0 0 50px 0;
}
.pv_nav_btn_icon {
    height: 32px;
    width: 20px;
    background: url(../img/layer_controls.png) 0 -63px no-repeat;
    position: absolute;
    top: 50%;
    -o-transition: opacity 300ms ease;
    transition: opacity 300ms ease;
    opacity: 0.5;
}
.pv_right{
    margin: -50px 0 0 375px;
}
.pv_nav_btn_icon:hover{
	opacity: 1;
	cursor: pointer;
}
.rl_button{
    display: flex;
    width: 100%;
    justify-content: center;
    position: absolute;
}
.pv_left{
	margin: -50px 0 0 -380px;
	background-position: 0 -25px;
}
.counter{
 	display: flex;
    font-family: calibri, serif;
    font-size: 18px;
    position: absolute;
    color: #fff;
    font-weight: lighter;
    width: 100px;
    height: 50px;
    align-items: center;
    justify-content: center;
    background: #3535359c;
    margin: -240px 0 0 0;
}
.carousel{
	position: absolute;
    display: flex;
    width: 715px;
    height: 107px;
    margin: 160px 0 0 0;
    justify-content: center;
    align-items: center;
}
.carousel ul {
	height: 107px;
    width: auto;
    margin: 0;
    padding: 0;
    list-style: none;
    transition: margin-left 250ms;
    font-size: 0;
    display: flex;
    align-items: center;
}
.carousel li{
    display: inline-block;
}
.gallery{
    width: auto;
    overflow: hidden;
}
.images li:hover{
    transition: 0.3s;
	transform: scale(1.1);
	cursor: pointer;
}
.carousel_pv_left{
    margin: -15px 0 0 -365px;
    background-position: 0 -25px;
}
.carousel_pv_right{
    margin: -15px 0 0 370px;
}