body{
  margin: 0px;
  padding: 0px;
  font-family: calibri;
  color: #fff;
}
.content{
  background: linear-gradient(150deg, #ffffff, #484848);
  padding: 23% 0 23% 0;
}
.title{
  font-size: 38px;
  font-weight: lighter;
  margin-bottom: 20px;
  text-shadow: 1px 1px 1px #838383;
}
.login{
  text-align: center;
}
input[type=password], input[type=text]{
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #c7c7c7;
  background: #7a7a7a;
  color: #fff;
  width: 230px;
  text-align:center;
}
input[type=submit]{
  padding: 10px;
  background: #fff;
  border: 1px solid #c7c7c7;
  cursor: pointer;
  border-radius: 4px;
  outline: none;
  width: 250px;
  font-weight: bold;
}
input[type=submit]:hover{
  background: #eeeeee;
}
input[type=password]::-webkit-input-placeholder, input[type=text]::-webkit-input-placeholder{
  color: #c7c7c7;
  text-align:center;
}
input[type=password]::-moz-placeholder, input[type=text]::-moz-placeholder{
  color: #c7c7c7;
  text-align:center;
}
p{
  margin-block-start: 10px;
  margin-block-end: 0px;
}
